body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

.main-container {
    padding: 20px;
    background-color: white;
    margin: 20px;
}

.login-form-container {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}